
## <summary>policy for bioa3</summary>


########################################
## <summary>
##	Transition to bioa3.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bioa3_domtrans',`
	gen_require(`
		type bioa3_t, bioa3_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bioa3_exec_t, bioa3_t)
')


########################################
## <summary>
##	Execute bioa3 server in the bioa3 domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bioa3_initrc_domtrans',`
	gen_require(`
		type bioa3_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bioa3_initrc_exec_t)
')


########################################
## <summary>
##	Search bioa3 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bioa3_search_lib',`
	gen_require(`
		type bioa3_var_lib_t;
	')

	allow $1 bioa3_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bioa3 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bioa3_read_lib_files',`
	gen_require(`
		type bioa3_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bioa3_var_lib_t, bioa3_var_lib_t)
')

########################################
## <summary>
##	Manage bioa3 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bioa3_manage_lib_files',`
	gen_require(`
		type bioa3_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bioa3_var_lib_t, bioa3_var_lib_t)
')

########################################
## <summary>
##	Manage bioa3 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bioa3_manage_lib_dirs',`
	gen_require(`
		type bioa3_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bioa3_var_lib_t, bioa3_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bioa3 environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bioa3_admin',`
	gen_require(`
		type bioa3_t;
		type bioa3_initrc_exec_t;
		type bioa3_var_lib_t;
	')

	allow $1 bioa3_t:process { ptrace signal_perms };
	ps_process_pattern($1, bioa3_t)

	bioa3_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bioa3_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bioa3_var_lib_t)

')

