policy_module(bioa3, 1.100.1)

########################################
#
# Declarations
#

type bioa3_t;
type bioa3_exec_t;
init_daemon_domain(bioa3_t, bioa3_exec_t)

permissive bioa3_t;

type bioa3_initrc_exec_t;
init_script_file(bioa3_initrc_exec_t)

type bioa3_conf_t;
files_type(bioa3_conf_t)

type bioa3_var_lib_t;
files_type(bioa3_var_lib_t)

type bioa3_var_run_t;
files_type(bioa3_var_run_t)

type bioa3_port_t;
corenet_port(bioa3_port_t)

########################################
#
# bioa3 local policy
#
allow bioa3_t self:process { fork };

allow bioa3_t self:fifo_file rw_fifo_file_perms;
allow bioa3_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bioa3_t, bioa3_conf_t, bioa3_conf_t)
manage_files_pattern(bioa3_t, bioa3_conf_t, bioa3_conf_t)

manage_dirs_pattern(bioa3_t, bioa3_var_lib_t, bioa3_var_lib_t)
manage_files_pattern(bioa3_t, bioa3_var_lib_t, bioa3_var_lib_t)
files_var_lib_filetrans(bioa3_t, bioa3_var_lib_t, { dir file })

manage_dirs_pattern(bioa3_t, bioa3_var_run_t, bioa3_var_run_t)
manage_files_pattern(bioa3_t, bioa3_var_run_t, bioa3_var_run_t)

sysnet_dns_name_resolve(bioa3_t)
corenet_all_recvfrom_unlabeled(bioa3_t)

allow bioa3_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bioa3_t)
corenet_tcp_sendrecv_generic_node(bioa3_t)
corenet_tcp_sendrecv_all_ports(bioa3_t)
corenet_tcp_bind_generic_node(bioa3_t)

gen_require(`
    type bioa3_port_t;
')
allow bioa3_t bioa3_port_t:tcp_socket name_bind;

gen_require(`
    type bioa3_port_t;
')
allow bioa3_t bioa3_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bioa3_t)

files_read_etc_files(bioa3_t)

miscfiles_read_localization(bioa3_t)

sysnet_dns_name_resolve(bioa3_t)

allow bioa3_t bioa3_exec_t:file execute_no_trans;
allow bioa3_t self:process setsched;
corecmd_exec_ls(bioa3_t)
corenet_tcp_connect_http_port(bioa3_t)
dev_read_urand(bioa3_t)
fs_getattr_xattr_fs(bioa3_t)
kernel_read_system_state(bioa3_t)
