# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BIOA3 Core Daemon SNAP
Comment=testnet
GenericName=BIOA3 Digital Currency Daemon Client testnet network
Exec=bioa3-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/bioa3_testnet.png
MimeType=x-scheme-handler/bioa3;
Categories=X-Office;X-Finance;
Keywords=internet;bioa3;zbioa3;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
